<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이용후기 상세보기</title>
</head>
<body>
    <div th:replace="~{ /header.html :: header }"></div>

    <!-- view페이지 전체 -->
     <div class="reviewView">

        <h2 class="revViewHeader">이용후기 상세 조회</h2> 

        <div class="revViewContent">
            <div class="mb-3">
                <div class="rtitlesection">
                    <p class="form-control rtitle">견적서님 수납/정리 건에 대한 이용후기입니다.</p>
                </div>
                <div class="rstarsection">
                    <label for="basic-url" class="form-label">별점</label>
                    <p class="form-control rstar"></p>
                </div>
                <div class="rcontentsection">
                    <label for="basic-url" class="form-label">이용후기 내용</label>
                    <p class="form-control rimg1" hidden></p>
                    <p class="form-control rimg2" hidden></p>
                    <p class="form-control rimg3" hidden></p>
                    <p class="form-control rcontent"></p>
                </div>
                <div class="rcdatesection">
                    <label for="basic-url" class="form-label">이용후기 작성 날짜</label>
                    <p class="form-control rcdate"></p>
                </div>
            </div>
        </div>

     </div>  <!-- view페이지 전체 -->

    <div th:replace="~{ /footer.html :: footer }"></div>

    <script src="/js/review/view.js"></script>
</body>
</html>