
.jobmap{width: 600px;
    margin-top: 100px;
    margin-bottom: 80px;
    padding: 20px;
    overflow-y: auto;}

/* 인포윈도우 내용 스타일링 */
#info {
    overflow: auto;
    padding: 5px;
    font-size: 14px; /* 글자 크기 */
    line-height: 1.4; /* 줄 간격 */
    background-color: #fff; /* 배경색 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 테두리 둥글기 */
}

/* 글자 수가 너무 많으면 텍스트 잘리기 */
#info {
    white-space: nowrap; /* 한 줄로 텍스트 표시 */
    text-overflow: ellipsis; /* 넘칠 경우 '...' 표시 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
}

