@font-face {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

/* 모든 폰트 웹 폰트로 변경 */
* {
    font-family: 'NanumSquareNeo';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.requestList {
    width: 600px;
    margin-top: 60px;    /* 헤더 높이만큼 여백 */
    margin-bottom: 80px; /* 푸터 높이만큼 여백 */
    padding: 20px;
    overflow-y: auto;
}


.reqstlistHeader{
    margin-top: 50px;
    padding: 20px;
}

.reqListCardBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardbox {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



/* 썸머노트 에디터 너비 조정 */
.note-editor {
    width: 100% !important;
}



/* 반응형 처리 */
@media screen and (max-width: 600px) {
    .requestContent {
        width: 100%;
        padding: 10px;
    }
}

