
@font-face {
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.requestList {
    width: 600px;
    padding: 100px 20px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added shadow */
}

.reqstlistHeader{
    padding: 20px;
    text-align: center;
}

.reqListCardBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardbox {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reqListCardBox .card .card-title a{
    text-decoration: none;
    color: #5e9ce2;
    font-family: NanumSquareNeoExtraBold;
}

.reqListCardBox .card .card-link a{
    text-decoration: none;
    color: #5e9ce2;
    font-family: NanumSquareNeoExtraBold;
}


/* 썸머노트 에디터 너비 조정 */
.note-editor {
    width: 100% !important;
}

/* 반응형 처리 */
@media screen and (max-width: 600px) {
    .requestContent {
        width: 100%;
        padding: 10px;
    }
}

/* a 태그 스타일 변경 */
a {
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 텍스트 색상 검은색 */
}