<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/member/deleteinfo.css'>
</head>
<body>
    <div th:replace="~{ /header.html :: header }"></div>

    <!-- 전체 페이지  -->
    <div class="allContainer">
        
    <div class="first">
        <div id="title">→ 사용하고 계신 아이디(qwe@naver.com)는 탈퇴할 경우 재사용 및 복구가 불가능합니다.</div>
        <p>탈퇴한 아이디는 본인과 타인 모두 재사용 및 복구가 불가하오니 신중하게 선택하시기 바랍니다.</p>
    </div>
</br>
</br>
        <div id="title">→ 탈퇴 후 회원정보 및 개인 서비스 이용기록은 모두 삭제됩니다.</div>
        <p>회원정보 및 메일, 블로그, 주소록 등 개인형 서비스 이용기록은 모두 삭제되며, 
            삭제된 데이터는 복구되지 않습니다.→ 삭제되는 내용을 확인하시고 필요한 데이터는 미리 백업을 해주세요.</p>
</br>
</br>
        <div id="title">→ 탈퇴 후에도 게시판형 서비스에 등록한 게시물은 그대로 남아 있습니다.</div>
        <p>구인 이력, 견적 입력 내역 등에 올린 게시글은 탈퇴 시 자동 삭제되지 않고 그래도 남아 있습니다.
            삭제를 원하는 게시글이 있다면 반드시 탈퇴 전 비공개 처리하거나 삭제하시기 바랍니다.</p>
        <p>탈퇴 후에는 회원정보가 삭제되어 본인 여부를 확인할 수 있는 방법이 없어, 게시글을 임의로 삭제해드릴 수 없습니다.</p>
</br>
</br>
        <div id="title">
        탈퇴 후에는 아이디 qwe@naver.com 로 다시 가입할 수 없으며 아이디와 데이터는 복구할 수 없습니다.
            →게시판형 서비스에 남아 있는 게시글은 탈퇴 후 삭제할 수 없습니다.</div>
        </div>
    <button type="button" onclick="onDelete()" class="button button-block">삭제</button>

    </div>
    <div th:replace="~{ /footer.html :: footer }"></div>

    <script src='/js/member/mypage.js'></script>

</body>
</html>