<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/member/login.css" />
  </head>
  <body>
    <div class="form">
      <div id="companysignup">
        <h1>로그인을 해주세요!</h1>
        <form action="/" method="post">
          <div class="field-wrap">
            <label> Email Address<span class="req">*</span> </label>
            <input type="email" required autocomplete="off" />
          </div>

          <div class="field-wrap">
            <label> 비밀번호를 입력하세요 <span class="req">*</span> </label>
            <input type="password" required autocomplete="off" />
          </div>
          <p class="forgot"><a href="/member/signup">회원가입</a></p>
          <p class="forgot"><a href="#">비밀번호를 찾기</a></p>
          <button type="submit" class="button button-block">로그인</button>
        </form>
      </div>
    </div>
  </body>
</html>
<!--- 
<div id="login">
          <h1>로그인 해주세요!</h1>

          <form action="/" method="post">
            <div class="field-wrap">
              <label> Email Address<span class="req">*</span> </label>
              <input type="email" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label> Password<span class="req">*</span> </label>
              <input type="password" required autocomplete="off" />
            </div>

            <p class="forgot"><a href="#">비밀번호찾기</a></p>

            <button class="button button-block">로그인</button>
          </form>
        </div>
        

        <div class="form-floating mb-3">
            <input type="file" name="uploadfile" class="form-control " id="floatingInput" placeholder="img">
            <label for="floatingInput">프로필사진</label>
          </div>


        -->
