@font-face {
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estimateContainer {
    width: 600px;
    padding: 100px 20px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added shadow */
    min-height: 1100px;
}

.estimateFindAllHeader{
    padding: 20px;
    text-align: center;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title-content{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.showBox {
    width: 100%;
    padding: 20px;
}

.reqstpostHeader{
    margin-top: 50px;
    padding: 20px;
}

.estFindAllCardBox .card .card-title a{
    text-decoration: none;
    color: #5e9ce2;
    font-family: NanumSquareNeoExtraBold;
}

.estFindAllCardBox {
    display: flex;       /* 가로 정렬 */
    flex-wrap: wrap;     /* 너비 초과 시 줄바꿈 */
    gap: 20px;           /* 카드 사이 간격 */
    justify-content: center; /* 중앙 정렬 */
    max-width: 600px;    /* 최대 너비 제한 */
}

