@font-face {
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}


body {
    display: flex;
    flex-direction: column;

}

.estimateWriteHeader{
    padding: 20px;
    text-align: center;
}

.estimateContainer {
    width: 600px;
    padding: 100px 20px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added shadow */
    min-height: 1100px;
}

.estimateBox {
    width: 100%;
    padding: 20px;
}

.esttitle{
    width: 320px !important;
}

.content{
    margin-top: 30px;
}

.estcontent{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    resize: none; /*크기조정 제거*/
}

.cash{
    margin-top: 30px;
}

.form-label{
    color: #5e9ce2;
    font-family: NanumSquareNeoExtraBold;
}

.estimatePostBtn{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.estimateBox .btn-primary {
    background-color: #88B3E4 !important;
    color: white;
    border: none; 
}

/* 반응형 처리 */
@media screen and (max-width: 600px) {
    .estimateContent {
        width: 100%;
        padding: 10px;
    }
}