<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

    <div th:replace="~{ /header.html :: header }"></div>

    <h2> 견적서 요청 페이지입니다. </h2>

    <!-- 요청서 전체 section -->
    <div class="postBox">

        <!-- reqtitle input section -->
        <div class="mb-3">
            <label for="basic-url" class="form-label">정리/수납 견적 요청서 제목</label>
            <div class="input-group">
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
            </div>
            <div class="form-text" id="basic-addon4">제목은 50자 이내로 작성해주세요.</div>
        </div> <!-- reqtitle end -->

        <!-- reqspace input section -->
        <div class="mb-3">
            <label for="basic-url" class="form-label">정리/수납 요청 공간</label>
            <div class="input-group">
                <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                  <option selected>선택하기</option>
                  <option value="1">주방</option>
                  <option value="2">안방</option>
                  <option value="3">자녀방</option>
                  <option value="4">거실</option>
                  <option value="5">서재</option>
                  <option value="6">사무실</option>
                  <option value="7">기타</option>
                </select>
                <button class="btn btn-outline-secondary" type="button">Select</button>
            </div> 
        </div> <!-- reqspace end -->


        <!-- reqarea input section -->
        <div class="mb-3">
            <label for="basic-url" class="form-label">정리/수납 요청 지역</label>
            <div class="input-group">
                <select class="form-select reqbigarea" id="inputGroupSelect04" aria-label="Example select with button addon">
                  <option selected>선택하기</option>
                  <option value="1">서울특별시</option>
                  <option value="2">경기도</option>
                  <option value="3">충청북도</option>
                  <option value="4">충청남도</option>
                  <option value="5">전라북도</option>
                  <option value="5">전라남도</option>
                  <option value="6">경상북도</option>
                  <option value="6">경상남도</option>
                  <option value="6">경상남도</option>
                  <option value="6">부산광역시</option>
                  <option value="6">인천광역시</option>
                  <option value="6">대구광역시</option>
                  <option value="6">광주광역시</option>
                  <option value="6">울산광역시</option>
                  <option value="6">세종특별자치시</option>
                  <option value="6">강원특별자치도</option>
                  <option value="6">전북특별자치도</option>
                  <option value="6">제주특별자치도</option>
                </select>
                <button class="btn btn-outline-secondary" type="button">Select</button>

                <select class="form-select reqsmallarea" id="inputGroupSelect04" aria-label="Example select with button addon">
                  <option selected>선택하기</option>
                </select>
                <button class="btn btn-outline-secondary" type="button">Select</button>
            </div> 
        </div>  <!-- reqarea end -->


        <!-- reqspace input section -->

        <!-- reqspace end -->


        <!-- reqcontent input section -->

        <!-- reqcontent end -->


 

    </div> <!-- section end -->

    <div th:replace="~{ /footer.html :: footer }"></div>
</body>
</html>