<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/request/post.css">
    <!-- 썸머노트 api 에 필요한 css 임포트 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.9.1/summernote-bs5.min.css"/>
</head>
<body>

    <div th:replace="~{ /header.html :: header }"></div>

    <!-- 전체 페이지  -->
    <div class="requestContent">
           
        <h2 class="reqstpostHeader"> 정리/수납 요청 견적서 작성하기 </h2>

        <!-- 요청서 form section -->
        <div class="postBox">

            <!-- reqtitle input section -->
            <div class="mb-3">
                <label for="basic-url" class="form-label">정리/수납 견적 요청서 제목</label>
                <div class="input-group">
                <input type="text" class="form-control reqtitleValue" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                </div>
                <div class="form-text" id="basic-addon4">제목은 50자 이내로 작성해주세요.</div>
            </div> <!-- reqtitle end -->

            <!-- reqrole input section -->
            <div class="mb-3">
                <label for="basic-url" class="form-label">정리/수납 견적 요청 상대</label>
                <div class="form-control">
                    <input class="form-check-input mt-0" type="radio" name="reqrole" value="1" aria-label="Radio button for following text input">업체(2인 이상 필요해요!)
                    <input class="form-check-input mt-0" type="radio" name="reqrole" value="2" aria-label="Radio button for following text input">개인(1인 필요해요!)
                </div>
            </div>

            <!-- reqspace input section -->
            <div class="mb-3">
                <label for="basic-url" class="form-label">정리/수납 요청 공간</label>
                <div class="input-group">
                    <select class="form-select reqspaceValue" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>선택하기</option>
                    <option value="1">주방</option>
                    <option value="2">안방</option>
                    <option value="3">자녀방</option>
                    <option value="4">거실</option>
                    <option value="5">서재</option>
                    <option value="6">사무실</option>
                    <option value="7">기타</option>
                    </select>
                </div> 
                <div class="form-text" id="basic-addon4">기타를 선택할 경우 아래 요청 내용에 작업 요청공간을 자세하게 작성해주세요.</div>
            </div> <!-- reqspace end -->


            <!-- reqarea input section -->
            <div class="mb-3">
                <label for="basic-url" class="form-label">정리/수납 요청 지역</label>
                <div class="input-group">
                    <select class="form-select reqbigareaValue" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>선택하기</option>
                    <option value="1">서울특별시</option>
                    <option value="2">경기도</option>
                    <option value="3">충청북도</option>
                    <option value="4">충청남도</option>
                    <option value="5">전라남도</option>
                    <option value="6">경상북도</option>
                    <option value="7">경상남도</option>
                    <option value="8">부산광역시</option>
                    <option value="9">인천광역시</option>
                    <option value="10">대구광역시</option>
                    <option value="11">광주광역시</option>
                    <option value="12">울산광역시</option>
                    <option value="13">세종특별자치시</option>
                    <option value="14">강원특별자치도</option>
                    <option value="15">전북특별자치도</option>
                    <option value="16">제주특별자치도</option>
                    </select>
                    <select class="form-select reqsmallareaValue" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>선택하기</option>
                    </select>
                </div> 
            </div>  <!-- reqarea end -->

            <!-- reqcontent input section -->
            <div class="mb-3">
                <label for="basic-url" class="form-label">정리/수납 자세한 요청 내용</label>

                <!-- summernote -->
                <textarea id="summernote" name="editordata" class="reqcontentValue"></textarea> <br/>
            </div><!-- reqcontent end -->

            <!-- request post button -->
             <div class="reqpostBtn">
                 <button type="button" class="btn " onclick="onRequestPost()"> 정리/수납 견적 요청서 올리기 </button>
             </div>
    

        </div> <!-- section end -->

    </div> <!-- page and -->
    
 

    <div th:replace="~{ /footer.html :: footer }"></div>

    <!-- JQUERY = (자바스크립트 기반의 라이브러리) 최신 버전 임포트 -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- 썸머노트 api 에 필요한 JS 임포트 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.9.1/summernote-bs5.min.js"></script>
    <!-- 썸머노트 API 한글 메뉴 JS 임포트 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.9.1/lang/summernote-ko-KR.min.js"></script>
    <!-- post.js 임포트 -->
    <script src="/js/request/post.js"></script>
</body>
</html>