<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Member List</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <div th:replace="~{/mheader1 :: mheader1}"></div>
    <div class="container">
        <h3> 가입 회원 조회 </h3>
        <h6> 이메일 클릭시 상세 정보 보기 가능 </h6>
        <table class="table">
            <thead>
                <tr>
                    <th>순번</th><th>이메일(ID)</th><th>이름</th><th>주소</th>
                    <th>전화번호</th><th>구분</th><th>승인여부</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div class="offcanvas-container">
    <button class="btn btn-primary sidebut" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" hidden>Enable body scrolling</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">회원 상세 정보 보기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body view">
        <p></p>
    </div>
    </div>
    </div>  

    <script src='/js/manage/memberlist.js'></script>
</body>
</html>