<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/job/list.css">
</head>
<body>
  <div th:replace="~{/header.html :: header}"></div>
  
  <div class="jobofferlist">
    <table class="table">
      <thead>

        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

    <div>
      <input class="searchInput"><button type="button">검색</button>
      <a href="/job/write"><button type="button">글쓰기</button></a>
    </div>
  </div>
  <div th:replace="~{/footer.html :: footer}"></div>
  <script src="/js/job/list.js"></script>
</body>
</html>