/* 메인 컨테이너 */
.wrap {
    display: flex; /* Flexbox 사용 */
    height: 100vh; /* 화면 높이를 100%로 설정 */
}

/* 왼쪽 구역 */
.left {
    width: 50%;
    display: flex; /* Flexbox를 사용하여 위아래 배치 */
    flex-direction: column; /* 세로 방향으로 나열 */
}

/* 왼쪽 위 구역 */
.leftup {
    flex: 1; /* 50% 크기 */
    border-color: lightgray;
    border: solid;
}
#myChart{
    width: 100%;
    height: 400px;
}

/* 왼쪽 아래 구역 */
.leftdown {
    flex: 1; /* 50% 크기 */
    background-color: white;
    display: flex;
    justify-content: center;
    border: solid;
}

/* 오른쪽 구역 */
.right {
    width: 50%;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    border: solid;
}